.questions, .screen .content, .footer .content, .footer-confirm .wrapper, .screen .footer .content, .footer-message .content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}

.form .questions>li {
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -khtml-opacity: .2;
  -moz-opacity: .2;
  opacity: .2;
  -ms-filter: "alpha(Opacity=20)";
  list-style: none;
}

.form .questions>li.focus {
  cursor: default;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)";
}

.form .questions>li.dirty {
  background: rgba(102, 51, 153, 0.14);
  /*opacity: 1;*/
}

.form .questions>li.dirty::before {
  content: "\002a";
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  color: #8A2BE2;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form .questions>li.answered {
  background: rgba(32, 178, 170, 0.23);
}

.form .questions>li.answered::before {
  content: "\e013";
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  color: #20B2AA;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form .questions>li .wrapper {
  padding: 30px 20px 30px 0;
}

.form .questions>li .wrapper .item {
  color: #4fb0ae;
  font-family: Source Sans Pro,sans-serif;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  padding: 0;
  text-align: right;
  width: 20px;
  line-height: 35px;
  margin-right: 30px;
  font-size: 16px;
}

.form .questions>li.statement .wrapper div.item {
  width: 40px;
  font-size: 56px;
  margin-top: -10px;
  line-height: normal;
}

.form .questions>li .wrapper .item .arrow {
  position: absolute;
  left: 25px;
  top: 17px;
  height: 2px;
  width: 7px;
  background-color: #4fb0ae;
}

.form .questions>li .wrapper .item .arrow .arrow-right {
  width: 4px;
  height: 4px;
  margin-top: -1px;
  margin-left: 3px;
  border-right: 2px solid #4fb0ae;
  border-bottom: 2px solid #4fb0ae;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.form .questions>li .wrapper .question {
  color: #37404a;
  font-family: Source Sans Pro,sans-serif;
  position: relative;
  padding: 0;
  cursor: default;
  padding-left: 50px;
  line-height: 140%;
  text-align: left;
  font-size: 24px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-break: break-word;
}

.form .questions>li .content {
  position: relative;
  padding: 37px 27px 50px 50px;
}

.form .questions .list.multiple .control {
  padding-left: 10px;
  border-left-width: 1px;
  border-left-style: dashed;
  border-color: #4fb0ae;
}

.form .questions .list .multiple {
  margin: 10px 0;
  font-size: 16px;
  display: none;
  color: #37404a;
}

.form .questions .list.multiple .multiple {
  display: block;
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
  -ms-filter: "alpha(Opacity=70)";
}

.form .questions .list.quick-validate .confirm-container {
  display: none;
}

.form .questions .list ul {
  padding: 0;
  margin: 0;
  margin-left: -3px;
  display: block;
  outline: 0;
  text-align: left;
  margin-bottom: 25px;
}

.form .questions .list ul li {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  cursor: pointer;
  margin: 4px 3px;
  list-style: none;
  color: #fff;
  padding: 8px 37px;
}

.letter {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 16px;
  padding: 0;
  height: 17px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #000;
  border: 1px solid rgba(0,0,0,.2);
  margin-right: 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;
  font-weight: 700;
}

.letter span {
  font-family: Helvetica,Arial;
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: "alpha(Opacity=40)";
}

.form .questions .list ul li .letter {
  color: #4fb0ae;
  position: absolute;
  left: 10px;
  top: 10px;
}

.form .questions .images.list ul li .letter {
  bottom: 12px;
  top: auto;
}

.form .questions .list ul li .label {
  color: #4fb0ae;
  font-size: 21px;
}

.form .questions .list ul li .tick {
  color: #4fb0ae;
  top: 50%;
  margin-top: -12px;
}

.form .questions .images.list ul li .tick {
  bottom: 12px;
  top: auto;
}

.columns li .tick {
  display: none;
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -15px;
  font-size: 21px;
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
  -ms-filter: "alpha(Opacity=70)";
}

.columns li.selected .tick {
  display: block;
}

.columns li .image {
  display: none;
  width: 144px;
  height: 144px;
  margin: 10px auto;
  background-position: center center;
  background-color: #E6E6E6;
  border: 1px solid #000;
}

li.images.list .columns li .image {
  display: block;
}

.columns li .aux, .columns li .aux div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  z-index: -1;
}

.columns li .aux {
  border-color: #4fb0ae;
}

.columns li .inset {
  z-index: 3;
  -webkit-box-shadow: inset 0 2px 0 #fff;
  -moz-box-shadow: inset 0 2px 0 #fff;
  box-shadow: inset 0 2px 0 #fff;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  opacity: .5;
  -ms-filter: "alpha(Opacity=50)";
}

.columns li .bg {
  z-index: 2;
  background: #000;
  -khtml-opacity: .03;
  -moz-opacity: .03;
  opacity: .03;
  -ms-filter: "alpha(Opacity=3)"
}

.columns li .bd {
  z-index: 4;
  border: 1px solid #000;
  -khtml-opacity: .15;
  -moz-opacity: .15;
  opacity: .15;
  -ms-filter: "alpha(Opacity=15)";
}

.columns li .overlay {
  background-color: #000;
  background-color: rgba(0,0,0,0);
  z-index: 1;
}

.columns li:hover .overlay {
  background-color: #000;
  background-color: rgba(0,0,0,.05);
  z-index: 1;
}

.columns li.selected .overlay {
  -khtml-opacity: .03;
  -moz-opacity: .03;
  opacity: .03;
  -ms-filter: "alpha(Opacity=3)";
  display: block;
  background-color: #000;
}

.button-wrapper {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin-bottom: -5px;
}

.content-wrapper>.text, .button-wrap>.text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-family: Helvetica,Arial;
  font-size: 11px;
  margin: 16px 8px 0;
  color: #4fb0ae;
}

.form .questions>li.fixed {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #ADD8E6;
  opacity: 1;
  visibility: visible !important;
  z-index: 99;
  overflow: hidden;

  .wrapper {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;

    .item {
      display: table-cell;
      padding: 0;
      padding-left: 10px;
      vertical-align: middle;
      position: relative;
      width: 50px;
      text-align: left;

      .arrow {
        top: 50%;
      }
    }

    .question {
      display: table-cell;
      padding: 0;
      vertical-align: middle;
    }

    .content {
      display: table-cell;
      padding: 0;
      vertical-align: middle;

      .description {
        display: none;
      }

      .image {
        margin: 0 !important;

        img {
          height: 60px;
          width: auto;
          max-width: none;
        }
      }

      .content-wrapper {
        display: none;
      }
    }
  }
}

#fixed-footer {
  z-index: 11;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E6E6E6;
  height: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none
}

#fixed-footer.step0 {
  border-color: rgba(0,0,0,.1)
}

#fixed-footer.step0 .overlay {
  background-color: #FAFAFA;
  -khtml-opacity: .02;
  -moz-opacity: .02;
  opacity: 1;
  -ms-filter: "alpha(Opacity=2)"
}

#fixed-footer.step1 {
  border-color: rgba(0,0,0,.13)
}

#fixed-footer.step1 .overlay {
  background-color: #000;
  -khtml-opacity: .04;
  -moz-opacity: .04;
  opacity: .04;
  -ms-filter: "alpha(Opacity=4)"
}

#fixed-footer.step2 {
  border-color: rgba(0,0,0,.15)
}

#fixed-footer.step2 .overlay {
  background-color: #000;
  -khtml-opacity: .05;
  -moz-opacity: .05;
  opacity: .05;
  -ms-filter: "alpha(Opacity=5)"
}

#fixed-footer.step3 {
  border-color: rgba(0,0,0,.2)
}

#fixed-footer.step3 .overlay {
  background-color: #000;
  -khtml-opacity: .05;
  -moz-opacity: .05;
  opacity: .05;
  -ms-filter: "alpha(Opacity=5)"
}

#fixed-footer.step4 {
  border-color: rgba(0,0,0,.37)
}

#fixed-footer.step4 .overlay {
  background-color: #000;
  -khtml-opacity: .08;
  -moz-opacity: .08;
  opacity: .08;
  -ms-filter: "alpha(Opacity=8)"
}

#fixed-footer.step5 {
  border-top: 1px solid rgba(255,255,255,.15)
}

#fixed-footer.step5 .overlay {
  background-color: #fff;
  -khtml-opacity: .06;
  -moz-opacity: .06;
  opacity: .06;
  -ms-filter: "alpha(Opacity=6)"
}

.field #fixed-footer {
  display: none
}

#fixed-footer>.background {
  background-color: #fff;
  top: 0;
  z-index: 2
}

#fixed-footer .footer-message {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  -moz-transition: top ease-out 100ms 0ms;
  -webkit-transition: top ease-out 100ms 0ms;
  -o-transition: top ease-out 100ms 0ms;
  transition: top ease-out 100ms 0ms
}

.footer-error #fixed-footer .footer-message {
  -moz-transition: top ease-out 100ms 0ms;
  -webkit-transition: top ease-out 100ms 0ms;
  -o-transition: top ease-out 100ms 0ms;
  transition: top ease-out 100ms 0ms;
  top: -23px
}

.footer-warning #fixed-footer .footer-message {
  -moz-transition: top ease-out 100ms 0ms;
  -webkit-transition: top ease-out 100ms 0ms;
  -o-transition: top ease-out 100ms 0ms;
  transition: top ease-out 100ms 0ms;
  top: -70px;
  border-top: 1px solid rgba(0,0,0,.1)
}

.footer-warning #fixed-footer .footer-message .background {
  background-color: #fff
}

.footer-warning #fixed-footer .footer-message .content span {
  color: #37404a;
  line-height: 30px
}

.footer-warning #fixed-footer .footer-message .retry-now {
  font-size: 13px;
  cursor: pointer;
  color: #37404a
}

.footer-warning #fixed-footer .footer-message .retry-now.disabled {
  opacity: .5;
  cursor: default
}

#fixed-footer .footer-message .content {
  padding: 5px;
  left: 16px
}

@media only screen and (min-width: 800px) {
  #fixed-footer .footer-message .content {
    left:45px
  }
}

#fixed-footer .footer-message .content span {
  font-family: Helvetica,Arial;
  position: relative;
  color: #fff;
  font-size: 13px;
  z-index: 2;
  line-height: 13px;
  margin-right: 5px
}

#fixed-footer .footer-message .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #900;
  z-index: 1;
  height: 50px
}

#fixed-footer .by {
  position: absolute;
  right: 115px;
  top: 17px;
  z-index: 5;
  display: none
}

@media only screen and (min-width: 500px) {
  #fixed-footer .by {
    display:block
  }
}

#fixed-footer .by .button {
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 11px;
  padding: 3px 6px;
  height: 16px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer
}

#fixed-footer .by .button:active {
  line-height: 18px!important
}

#fixed-footer.review .content .button-wrapper.review {
  display: block
}

#fixed-footer.review .content .button-wrapper.submit {
  display: none
}

#fixed-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #FAFAFA;
}

#fixed-footer .button-text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom:1;*display: inline;
  font-family: Helvetica,Arial;
  font-size: 11px;
  margin: 16px 8px 0;
  color: #4fb0ae;
  top: 6px;
  position: absolute;
  left: 100%;
  width: 150px;
  text-align: left
}

#fixed-footer .nav-buttons {
  position: absolute;
  z-index: 99;
  right: 8px;
  top: 15px
}

#fixed-footer .nav-buttons .button-wrapper {
  float: left;
  margin-left: 6px
}

#fixed-footer .content {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  max-width: 800px
}

#fixed-footer .content .text {
  color: #4fb0ae
}

#fixed-footer .content .button-wrapper {
  position: absolute
}

#fixed-footer .content .button-wrapper.confirm {
  top: 8px;
  left: 0
}

#fixed-footer .content .button-wrapper.submit,#fixed-footer .content .button-wrapper.review {
  top: 20px;
  left: 20px
}

@media only screen and (min-width: 800px) {
  #fixed-footer .content .button-wrapper.submit,#fixed-footer .content .button-wrapper.review {
    top:20px;
    left: 45px
  }
}

#fixed-footer .content .button-wrapper.review {
  display: none
}

#fixed-footer .content .phishing-notice {
  top: 73px;
  left: 10px;
  position: absolute;
  opacity: .8;
  font-size: 13px
}

@media only screen and (min-width: 800px) {
  #fixed-footer .content .phishing-notice {
    top:89px;
    left: 45px
  }
}

@media (max-width: 800px) {
  #fixed-footer .content .phishing-notice {
    left:20px;
    top: 83px
  }
}

@media (max-width: 550px),(max-height:450px) {
  #fixed-footer .content .phishing-notice {
    left:20px;
    top: 83px
  }
}

#fixed-footer .content .phishing-notice a {
  color: #4fb0ae;
  text-decoration: underline;
  border-bottom: 0
}

#fixed-footer .content #progress {
  top: 0;
  margin-top: 14px;
  position: absolute;
  width: /*324px*/42%;
  left: 10px;
  -moz-transition: opacity ease-out 300ms 0ms;
  -webkit-transition: opacity ease-out 300ms 0ms;
  -o-transition: opacity ease-out 300ms 0ms;
  transition: opacity ease-out 300ms 0ms
}

.proportion #fixed-footer .content #progress,.percent #fixed-footer .content #progress {
  visibility: visible;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)"
}

@media only screen and (min-width: 800px) {
  #fixed-footer .content #progress {
    left:55px
  }
}

#fixed-footer .content #progress.show {
  visibility: visible;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)";
  -moz-transition: opacity ease-out 300ms 0ms;
  -webkit-transition: opacity ease-out 300ms 0ms;
  -o-transition: opacity ease-out 300ms 0ms;
  transition: opacity ease-out 300ms 0ms
}

#fixed-footer .content #progress .label {
  font-size: 13px;
  font-family: Helvetica,Arial;
  color: #4fb0ae
}

#fixed-footer .content #progress .bar {
  position: relative;
  margin: 8px 0;
  width: 100%;
  height: 5px;
  display: block
}

#fixed-footer .content #progress .bar div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0
}

#fixed-footer .content #progress .bar div.wrapper {
  right: 0;
  z-index: 1;
  -khtml-opacity: .35;
  -moz-opacity: .35;
  opacity: .35;
  -ms-filter: "alpha(Opacity=35)";
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #4fb0ae
}

#fixed-footer .content #progress .bar div.progress {
  display: block;
  width: 0;
  z-index: 2;
  height: 100%;
  -moz-transition: width ease-out 200ms 0ms;
  -webkit-transition: width ease-out 200ms 0ms;
  -o-transition: width ease-out 200ms 0ms;
  transition: width ease-out 200ms 0ms;
  background-color: #4fb0ae;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px
}

#fixed-footer .content #progress .bar div.progress.rounded {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px
}

.button.nav {
  display: inline-block;
  cursor: default;
  background-color: #4fb0ae;
  width: auto;
  height: 40px;
  line-height: 30px;
  padding: 5px 12px 0;
  font-size: 19px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;
  font-weight: 700;
  font-family: Source Sans Pro,sans-serif;
  max-width: 610px;
  overflow: hidden;
  -moz-transition: background-color ease-out 100ms 0ms;
  -webkit-transition: background-color ease-out 100ms 0ms;
  -o-transition: background-color ease-out 100ms 0ms;
  transition: background-color ease-out 100ms 0ms;
  color: #edf7f7;
  border-top: 1px solid #367776;
  border-left: 1px solid #367776;
  border-right: 1px solid #367776;
  border-bottom: 1px solid #24504f
}

.button.nav.enabled {
  cursor: pointer
}

.button.nav.hover-effect:hover.enabled,
.default .focus .button.nav:hover.enabled,
.default .footer-confirm .button.nav:hover.enabled,
.screen .focus .button.nav:hover.enabled,
.default #banner .button.nav:hover.enabled {
  -moz-transition: background-color ease-out 100ms 0ms;
  -webkit-transition: background-color ease-out 100ms 0ms;
  -o-transition: background-color ease-out 100ms 0ms;
  transition: background-color ease-out 100ms 0ms;
  background-color: #72c0be;
  cursor: pointer
}

.default .focus .button.nav:active.enabled,.default .footer .button.nav:active.enabled,.button.nav.selected,.button.nav.active.enabled,.default #banner .button.nav:active.enabled {
  -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.4);
  -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,.4);
  box-shadow: inset 0 2px 1px rgba(0,0,0,.4);
  line-height: 32px;
  background-color: #72c0be;
  border: 0;
  border-bottom: 1px solid #2f6a68;
  margin: 1px;
  margin-bottom: 0
}

.default .focus .button.nav:active.enabled span,.default .footer .button.nav:active.enabled span,.button.nav.selected span,.button.nav.active.enabled span,.default #banner .button.nav:active.enabled span {
  margin-top: 1px
}

.button.nav.disabled,
.button.general.disabled {
  -khtml-opacity: .5;
  -moz-opacity: .5;
  opacity: .5;
  -ms-filter: "alpha(Opacity=50)";
  -moz-transition: all ease-out 0 0ms;
  -webkit-transition: all ease-out 0 0ms;
  -o-transition: all ease-out 0 0ms;
  transition: all ease-out 0 0ms
}

.button.general {
  display: inline-block;
  cursor: pointer;
  background-color: #4fb0ae;
  width: auto;
  height: 52px;
  line-height: 38px;
  padding: 5px 20px 0;
  font-size: 25px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;
  font-weight: 700;
  font-family: Source Sans Pro,sans-serif;
  max-width: 610px;
  overflow: hidden;
  -moz-transition: background-color ease-out 100ms 0ms;
  -webkit-transition: background-color ease-out 100ms 0ms;
  -o-transition: background-color ease-out 100ms 0ms;
  transition: background-color ease-out 100ms 0ms;
  color: #edf7f7;
  border-top: 1px solid #367776;
  border-left: 1px solid #367776;
  border-right: 1px solid #367776;
  border-bottom: 1px solid #24504f;
}

.form .questions>li .content .description, .form .questions>li .content .stripe-description {
  margin-top: -16px;
  margin-bottom: 33px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 160%;
  text-align: left;
  color: #37404a;
  -khtml-opacity: .8;
  -moz-opacity: .8;
  opacity: .8;
  -ms-filter: "alpha(Opacity=80)";
}

input, textarea {
  display: block;
  color: #4fb0ae;
  width: 100%;
  resize: none;
  background: 0 0;
  outline: 0;
  font-family: Source Sans Pro,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 40px;
  padding: 3px;
  margin: 2px;
}

.form .questions>li .input input {
  -moz-transition: border 0ms linear 600ms,border-radius 0ms linear 600ms;
  -webkit-transition: border 0ms linear 600ms,border-radius 0ms linear 600ms;
  -o-transition: border 0ms linear 600ms,border-radius 0ms linear 600ms;
  transition: border 0ms linear 600ms,border-radius 0ms linear 600ms;
  border: 2px dashed rgba(79, 176, 174, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.form .questions>li .input input:focus {
  border-color: transparent;
}

.confirm-container {
  position: absolute;
  bottom: -5px;
  padding: 5px;
}

.confirm-container .text {
  color: #4fb0ae;
  font-family: Helvetica,Arial;
  float: right;
  font-size: 11px;
  margin: 16px 8px 0;
}

.confirm-container .aux, .confirm-container .aux div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-color: #4fb0ae;
  z-index: -1;
}

.confirm-container .inset {
  z-index: 3;
  -webkit-box-shadow: inset 0 2px 0 #fff;
  -moz-box-shadow: inset 0 2px 0 #fff;
  box-shadow: inset 0 2px 0 #fff;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  opacity: .5;
  -ms-filter: "alpha(Opacity=50)";
}

.confirm-container .bg {
  z-index: 2;
  background: #000;
  -khtml-opacity: .03;
  -moz-opacity: .03;
  opacity: .03;
  -ms-filter: "alpha(Opacity=3)";
}

.confirm-container .bd {
  z-index: 4;
  border: 1px solid #000;
  -khtml-opacity: .15;
  -moz-opacity: .15;
  opacity: .15;
  -ms-filter: "alpha(Opacity=15)";
}

.confirm-container .overlay {
  background-color: rgba(0,0,0,0);
  z-index: 1;
}

#unfixed-footer {
  display: none !important;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E6E6E6;
  background-color: #fff;
  height: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important
}

#unfixed-footer.step0 {
  border-color: rgba(0,0,0,.1);
  background: #fff;
}

#unfixed-footer.step0 .overlay {
  background-color: #000;
  -khtml-opacity: .02;
  -moz-opacity: .02;
  opacity: .02;
  -ms-filter: "alpha(Opacity=2)"
}

#unfixed-footer.step1 {
  border-color: rgba(0,0,0,.13)
}

#unfixed-footer.step1 .overlay {
  background-color: #000;
  -khtml-opacity: .04;
  -moz-opacity: .04;
  opacity: .04;
  -ms-filter: "alpha(Opacity=4)"
}

#unfixed-footer.step2 {
  border-color: rgba(0,0,0,.15)
}

#unfixed-footer.step2 .overlay {
  background-color: #000;
  -khtml-opacity: .05;
  -moz-opacity: .05;
  opacity: .05;
  -ms-filter: "alpha(Opacity=5)"
}

#unfixed-footer.step3 {
  border-color: rgba(0,0,0,.2)
}

#unfixed-footer.step3 .overlay {
  background-color: #000;
  -khtml-opacity: .05;
  -moz-opacity: .05;
  opacity: .05;
  -ms-filter: "alpha(Opacity=5)"
}

#unfixed-footer.step4 {
  border-color: rgba(0,0,0,.37)
}

#unfixed-footer.step4 .overlay {
  background-color: #000;
  -khtml-opacity: .08;
  -moz-opacity: .08;
  opacity: .08;
  -ms-filter: "alpha(Opacity=8)"
}

#unfixed-footer.step5 {
  border-top: 1px solid rgba(255,255,255,.15)
}

#unfixed-footer.step5 .overlay {
  background-color: #fff;
  -khtml-opacity: .06;
  -moz-opacity: .06;
  opacity: .06;
  -ms-filter: "alpha(Opacity=6)"
}

.field #unfixed-footer {
  display: none
}

#unfixed-footer>.background {
  background-color: #fff;
  top: 0;
  z-index: 2
}

#unfixed-footer .footer-message {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  -moz-transition: top ease-out 100ms 0ms;
  -webkit-transition: top ease-out 100ms 0ms;
  -o-transition: top ease-out 100ms 0ms;
  transition: top ease-out 100ms 0ms
}

.footer-error #unfixed-footer .footer-message {
  -moz-transition: top ease-out 100ms 0ms;
  -webkit-transition: top ease-out 100ms 0ms;
  -o-transition: top ease-out 100ms 0ms;
  transition: top ease-out 100ms 0ms;
  top: -23px
}

.footer-warning #unfixed-footer .footer-message {
  -moz-transition: top ease-out 100ms 0ms;
  -webkit-transition: top ease-out 100ms 0ms;
  -o-transition: top ease-out 100ms 0ms;
  transition: top ease-out 100ms 0ms;
  top: -70px;
  border-top: 1px solid rgba(0,0,0,.1)
}

.footer-warning #unfixed-footer .footer-message .background {
  background-color: #fff
}

.footer-warning #unfixed-footer .footer-message .content span {
  color: #37404a;
  line-height: 30px
}

.footer-warning #unfixed-footer .footer-message .retry-now {
  font-size: 13px;
  cursor: pointer;
  color: #37404a
}

.footer-warning #unfixed-footer .footer-message .retry-now.disabled {
  opacity: .5;
  cursor: default
}

#unfixed-footer .footer-message .content {
  padding: 5px;
  left: 16px
}

@media only screen and (min-width: 800px) {
  #unfixed-footer .footer-message .content {
    left:45px
  }
}

#unfixed-footer .footer-message .content span {
  font-family: Helvetica,Arial;
  position: relative;
  color: #fff;
  font-size: 13px;
  z-index: 2;
  line-height: 13px;
  margin-right: 5px
}

#unfixed-footer .footer-message .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #900;
  z-index: 1;
  height: 50px
}

#unfixed-footer .by {
  position: absolute;
  right: 115px;
  top: 17px;
  z-index: 5;
  display: none
}

@media only screen and (min-width: 500px) {
  #unfixed-footer .by {
    display:block
  }
}

#unfixed-footer .by .button {
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 11px;
  padding: 3px 6px;
  height: 16px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer
}

#unfixed-footer .by .button:active {
  line-height: 18px!important
}

#unfixed-footer.review .content .button-wrapper.review {
  display: block
}

#unfixed-footer.review .content .button-wrapper.submit {
  display: none
}

#unfixed-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  background-color: #fff
}

#unfixed-footer .button-text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom:1;*display: inline;
  font-family: Helvetica,Arial;
  font-size: 11px;
  margin: 16px 8px 0;
  color: #4fb0ae;
  top: 6px;
  position: absolute;
  left: 100%;
  width: 150px;
  text-align: left
}

#unfixed-footer .nav-buttons {
  position: absolute;
  z-index: 99;
  right: 8px;
  top: 8px
}

#unfixed-footer .nav-buttons .button-wrapper {
  float: left;
  margin-left: 6px
}

#unfixed-footer .content {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  max-width: 800px
}

#unfixed-footer .content .text {
  color: #4fb0ae
}

#unfixed-footer .content .button-wrapper {
  position: absolute
}

#unfixed-footer .content .button-wrapper.confirm {
  top: 8px;
  left: 0
}

#unfixed-footer .content .button-wrapper.submit,#unfixed-footer .content .button-wrapper.review {
  top: 20px;
  left: 20px
}

@media only screen and (min-width: 800px) {
  #unfixed-footer .content .button-wrapper.submit,#unfixed-footer .content .button-wrapper.review {
    top:20px;
    left: 45px
  }
}

#unfixed-footer .content .button-wrapper.review {
  display: none
}

#unfixed-footer .content .phishing-notice {
  top: 73px;
  left: 10px;
  position: absolute;
  opacity: .8;
  font-size: 13px
}

@media only screen and (min-width: 800px) {
  #unfixed-footer .content .phishing-notice {
    top:89px;
    left: 45px
  }
}

@media (max-width: 800px) {
  #unfixed-footer .content .phishing-notice {
    left:20px;
    top: 83px
  }
}

@media (max-width: 550px),(max-height:450px) {
  #unfixed-footer .content .phishing-notice {
    left:20px;
    top: 83px
  }
}

#unfixed-footer .content .phishing-notice a {
  color: #4fb0ae;
  text-decoration: underline;
  border-bottom: 0
}

#unfixed-footer .content #progress {
  top: 0;
  margin-top: 14px;
  position: absolute;
  width: 324px;
  left: 10px;
  visibility: hidden;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  -moz-transition: opacity ease-out 300ms 0ms;
  -webkit-transition: opacity ease-out 300ms 0ms;
  -o-transition: opacity ease-out 300ms 0ms;
  transition: opacity ease-out 300ms 0ms
}

.proportion #unfixed-footer .content #progress,.percent #unfixed-footer .content #progress {
  visibility: visible;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)"
}

@media only screen and (min-width: 800px) {
  #unfixed-footer .content #progress {
    left:55px
  }
}

#unfixed-footer .content #progress.show {
  visibility: visible;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)";
  -moz-transition: opacity ease-out 300ms 0ms;
  -webkit-transition: opacity ease-out 300ms 0ms;
  -o-transition: opacity ease-out 300ms 0ms;
  transition: opacity ease-out 300ms 0ms
}

#unfixed-footer .content #progress .label {
  font-size: 13px;
  font-family: Helvetica,Arial;
  color: #4fb0ae
}

#unfixed-footer .content #progress .bar {
  position: relative;
  margin: 8px 0;
  width: 225px;
  height: 5px;
  display: block
}

#unfixed-footer .content #progress .bar div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0
}

#unfixed-footer .content #progress .bar div.wrapper {
  right: 0;
  z-index: 1;
  -khtml-opacity: .35;
  -moz-opacity: .35;
  opacity: .35;
  -ms-filter: "alpha(Opacity=35)";
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #4fb0ae
}

#unfixed-footer .content #progress .bar div.progress {
  display: block;
  width: 0;
  z-index: 2;
  height: 100%;
  -moz-transition: width ease-out 200ms 0ms;
  -webkit-transition: width ease-out 200ms 0ms;
  -o-transition: width ease-out 200ms 0ms;
  transition: width ease-out 200ms 0ms;
  background-color: #4fb0ae;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px
}

#unfixed-footer .content #progress .bar div.progress.rounded {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px
}
