.button.general,
.button.nav {
  background-color: #b0b0b0;
  border: 1px solid #000;
}

.button.nav.hover-effect:hover.enabled,
.default .focus .button.nav:hover.enabled,
.default .footer-confirm .button.nav:hover.enabled,
.screen .focus .button.nav:hover.enabled,
.default #banner .button.nav:hover.enabled {
  background-color: #cacaca;
}

.default .focus .button.nav:active.enabled,.default .footer .button.nav:active.enabled,.button.nav.selected,.button.nav.active.enabled,.default #banner .button.nav:active.enabled {
  background-color: #cacaca;
}

.question,
.item {
  color: #585870 !important;
}

.form .questions > li .wrapper .item .arrow {
  background-color: #585870;
}

.form .questions > li .wrapper .item .arrow .arrow-right {
  border-right: 2px solid #585870;
  border-bottom: 2px solid #585870;
}

.form .questions > li.fixed {
  border-color: #585870;
}

.content-wrapper > .text,
.button-wrap > .text,
.confirm-container .text,
input, textarea,
.form .questions .list ul li .label,
.form .questions .list ul li .letter,
.form .questions .list ul li .tick,
#fixed-footer .content #progress .label {
  color: #425454;
}

.form .questions > li .input input {
  border: 2px dashed #ccc;
}

.form .questions .list.multiple .control {
  border-color: #ccc;
}

#fixed-footer .content #progress .bar div.progress {
  background-color: #b0b0b0;
}

#fixed-footer .content #progress .bar div.wrapper {
  background-color: #cacaca;
}
