body::after {
  background-color: #c1ef41;
  background-image: url(img/bg.jpeg);
  background-repeat: repeat;
  background-attachment: fixed;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.button.general,
.button.nav {
  color: #5c780a;
  background-color: #c5f044;
  border: 1px solid #607d0a;
}

.button.nav.hover-effect:hover.enabled,
.default .focus .button.nav:hover.enabled,
.default .footer-confirm .button.nav:hover.enabled,
.screen .focus .button.nav:hover.enabled,
.default #banner .button.nav:hover.enabled {
  background-color: #d4f473;
}

.default .focus .button.nav:active.enabled,.default .footer .button.nav:active.enabled,.button.nav.selected,.button.nav.active.enabled,.default #banner .button.nav:active.enabled {
  background-color: #cacaca;
}

.question,
.item {
  color: #5c780a !important;
}

.score .icons li .icon.fa {
  color: #5c780a;
}


.form .questions > li .wrapper .item .arrow {
  background-color: #585870;
}

.form .questions > li .wrapper .item .arrow .arrow-right {
  border-right: 2px solid #585870;
  border-bottom: 2px solid #585870;
}

.form .questions > li.fixed {
  border-color: #585870;
}

.content-wrapper > .text,
.button-wrap > .text,
.confirm-container .text,
input, textarea,
.form .questions .list ul li .label,
.form .questions .list ul li .letter,
.form .questions .list ul li .tick,
#fixed-footer .content #progress .label,
.form .questions .list.boolean .image,
.score .icons li .label,
.choice-square .label,
.choice-square .line span,
.form .questions > li .content .description {
  color: #5c780a;
}

.form .questions > li .input input {
  border: 2px dashed #5c780a;
}

.form .questions .list.multiple .control {
  border-color: #5c780a;
}

#fixed-footer .content #progress .bar div.progress,
#fixed-footer .content #progress .bar div.wrapper {
  background-color: #3f4237;
}

.form .questions > li.fixed {
  background-color: #c1ef41;
}

#fixed-footer > .overlay {
  background-color: #c1ef41;
}